@using CodeDayOne.Models
@model CodeDayOne.Models.Champion

@{
    ViewData["Title"] = "Home Page";

    var data = (Character)ViewData["Sona"];
}

@{
<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered">
            <tr>
                <td>Health: @ViewBag.championList[0].Health</td>
            </tr>
            <tr>
                <td>Mana: @ViewBag.championList[0].Mana</td>
            </tr>
            <tr>
                <td>Attack Speed: @ViewBag.championList[0].AttackSpeed</td>
            </tr>
            <tr>
                <td>Attack: @ViewBag.championList[0].Attack</td>
            </tr>
            <tr>
                <td>Defense: @ViewBag.championList[0].Defense</td>
            </tr>
            <tr>
                <td>Armor: @ViewBag.championList[0].Armor</td>
            </tr>
            <tr>
                <td>Magic Resist: @ViewBag.championList[0].MagicResist</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <h1>@ViewBag.championList[0].Name</h1>
    </div>
    <div class="col-md-3">
        <table class="table table-bordered">
            <tr>
                <td>Health: @ViewBag.championList[1].Health</td>
            </tr>
            <tr>
                <td>Mana: @ViewBag.championList[1].Mana</td>
            </tr>
            <tr>
                <td>Attack Speed: @ViewBag.championList[1].AttackSpeed</td>
            </tr>
            <tr>
                <td>Attack: @ViewBag.championList[1].Attack</td>
            </tr>
            <tr>
                <td>Defense: @ViewBag.championList[1].Defense</td>
            </tr>
            <tr>
                <td>Armor: @ViewBag.championList[1].Armor</td>
            </tr>
            <tr>
                <td>Magic Resist: @ViewBag.championList[1].MagicResist</td>
            </tr>
        </table>
        
    </div>
    <div class="col-md-3">
        <h1>@ViewBag.championList[1].Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td><button type="button" class="btn btn-primary">@ViewBag.championList[0].AbilityList[0].Name</button></td>
                <td><button type="button" class="btn btn-success">@ViewBag.championList[0].AbilityList[1].Name</button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-info">@ViewBag.championList[0].AbilityList[2].Name</button></td>
                <td><button type="button" class="btn btn-danger">@ViewBag.championList[0].AbilityList[3].Name</button></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td><button type="button" class="btn btn-primary">@ViewBag.championList[1].AbilityList[0].Name</button></td>
                <td><button type="button" class="btn btn-success">@ViewBag.championList[1].AbilityList[1].Name</button></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-info">@ViewBag.championList[1].AbilityList[2].Name</button></td>
                <td><button type="button" class="btn btn-danger">@ViewBag.championList[1].AbilityList[3].Name</button></td>
            </tr>
        </table>
    </div>
</div>


    
    
    
}
