@model CodeDayOne.ViewModels.BattleViewModel

<div class="row">
    <h5 class="text-center">ORDER</h5>
</div>
<div id="battleOrder" class="row text-center">
    @for (var i = 0; i < Model.BattleOrder.Count; i++)
    {
        if (@Model.BattleOrder[i].ImageSource != null)
        {
            <img class="orderPicture" battleOrder="@i" src="@Model.BattleOrder[i].ImageSource" height="48" width="48" />
        }
        else
        {
            if (@Model.IsRed)
            {
                <img class="orderPicture" battleOrder="@i" src="@Model.BattleOrder[i].RedImageURL" height="48" width="48" />
            }
            else
            {
                <img class="orderPicture" battleOrder="@i" src="@Model.BattleOrder[i].BlueImageURL" height="48" width="48" />
            }
        }
    }
    
</div>