@model CodeDayOne.ViewModels.PartySelectViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Party Select View</h1>

<hr />


@if (Model.PartyMember1.ID == 0)
{
    <h2 class="text-left">Party Member #1 Select</h2>
}
else if (Model.PartyMember2.ID == 0)
{
    <h2 class="text-right">Party Member #2 Select</h2>
}
else
{
    <h2 class="text-center">Confirm Party</h2>
}

@if (Model.PartyMember1.ID > 0 && Model.PartyMember2.ID > 0)
{
    <div class="row">
        <div class="col-md-6 text-right">
            <button onclick="location.href='@Url.Action("Index", "Battle", new { partyMember1Id = Model.PartyMember1.ID, partyMember2Id = Model.PartyMember2.ID })'" type="button" class="btn btn-success">To The Fields of Justice</button>
        </div>
        <div class="col-md-6 text-left">
            <button onclick="location.href='@Url.Action("Index", "PartySelect")'" type="button" class="btn btn-danger">Reselect Party Members</button>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6 text-right">
            <button disabled type="button" class="btn btn-success">To The Fields of Justice</button>
        </div>
        <div class="col-md-6 text-left">
            <button disabled type="button" class="btn btn-danger">Reselect Party Members</button>
        </div>
    </div>
}

<hr />

<!-- Champion buttons for the selection process -->
@Html.Partial("_ChampionButtons")

<hr />

@if (Model.PartyMember1.ID != 0)
{
    if (Model.PartyMember2.ID != 0)
    {
        <div id="partyMemberStats">
            @Html.Partial("_PartyMemberStats")
        </div>
    }
    else
    {
        <div>
            @Html.Partial("_PartyMember1Stats")
        </div>

    }
}
