@model CodeDayOne.Models.Game
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/app.js"></script>
@{
    ViewData["Title"] = "BattleScreen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BattleScreen</h2>
<button class="btn btn-danger" id="createHordeButton" onclick="createMinionHorde()" type="button" href="@Url.Action("CreateMinionHorde", "GameController")" >Random Minion Horde</button>

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Model.Player1.ImageSource" />
                </div>
                <div class="col-md-6">
                    <h3><img src="https://i.imgur.com/fXyXzCk.png" /> <font color="red">@Model.Player1.CurrentHealth/@Model.Player1.MaxHealth</font></h3>
                    <h3><img src="https://i.imgur.com/kAPA7h3.png" /> <font color="blue">@Model.Player1.CurrentMana/@Model.Player1.MaxMana</font></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td><button type="button" class="btn">Basic Attack</button></td>
                            <td>0 Mana</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-primary">@Model.Player1.AbilityList[0].Name</button></td>
                            <td>@Model.Player1.AbilityList[0].ManaCost Mana</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-success">@Model.Player1.AbilityList[1].Name</button></td>
                            <td>@Model.Player1.AbilityList[1].ManaCost Mana</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-info">@Model.Player1.AbilityList[2].Name</button></td>
                            <td>@Model.Player1.AbilityList[2].ManaCost Mana</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-danger">@Model.Player1.AbilityList[3].Name</button></td>
                            <td>@Model.Player1.AbilityList[3].ManaCost Mana</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Model.Player2.ImageSource" />
                </div>
                <div class="col-md-6">
                    <h3><img src="https://i.imgur.com/fXyXzCk.png" /> <font color="red">@Model.Player2.CurrentHealth/@Model.Player2.MaxHealth</font></h3>
                    <h3><img src="https://i.imgur.com/kAPA7h3.png" /> <font color="blue">@Model.Player2.CurrentMana/@Model.Player2.MaxMana</font></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td><button type="button" class="btn">Basic Attack</button></td>
                            <td>0 Mana</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-primary">@Model.Player2.AbilityList[0].Name</button></td>
                            <td>@Model.Player2.AbilityList[0].ManaCost Mana</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-success">@Model.Player2.AbilityList[1].Name</button></td>
                            <td>@Model.Player2.AbilityList[1].ManaCost Mana</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-info">@Model.Player2.AbilityList[2].Name</button></td>
                            <td>@Model.Player2.AbilityList[2].ManaCost Mana</td>
                        </tr>
                        <tr>
                            <td><button type="button" class="btn btn-danger">@Model.Player2.AbilityList[3].Name</button></td>
                            <td>@Model.Player2.AbilityList[3].ManaCost Mana</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="minionBattleList" class="col-md-4">
            @for (var i = 0; i < Model.MinionList.Count; i++)
            {
                <div value="@i" class="row battleMinion" onclick="highlightMinion(this)" style="border-style: groove; border-radius: 5px" >
                    <div class="col-md-6">
                        <img src="@Model.MinionList[i].BlueImageURL" />
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                @Model.MinionList[i].Name
                            </div>
                            <div class="col-md-12">
                                <img src="https://i.imgur.com/fXyXzCk.png" /> @Model.MinionList[i].CurrentHealth/@Model.MinionList[i].MaxHealth
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>