@model CodeDayOne.Models.Game

<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered">
            <tr>
                <td>Health: @Model.Player1.MaxHealth</td>
            </tr>
            <tr>
                <td>Mana: @Model.Player1.MaxMana</td>
            </tr>
            <tr>
                <td>Attack Speed: @Model.Player1.AttackSpeed</td>
            </tr>
            <tr>
                <td>Attack: @Model.Player1.Attack</td>
            </tr>
            <tr>
                <td>Armor: @Model.Player1.Armor</td>
            </tr>
            <tr>
                <td>Magic Resist: @Model.Player1.MagicResist</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <h1>@Model.Player1.Name</h1>
    </div>
    <div class="col-md-3">
        <table class="table table-bordered">
            <tr>
                <td>Health: @Model.Player2.MaxHealth</td>
            </tr>
            <tr>
                <td>Mana: @Model.Player2.MaxMana</td>
            </tr>
            <tr>
                <td>Attack Speed: @Model.Player2.AttackSpeed</td>
            </tr>
            <tr>
                <td>Attack: @Model.Player2.Attack</td>
            </tr>
            <tr>
                <td>Armor: @Model.Player2.Armor</td>
            </tr>
            <tr>
                <td>Magic Resist: @Model.Player2.MagicResist</td>
            </tr>
        </table>

    </div>
    <div class="col-md-3">
        <h1>@Model.Player2.Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td><button type="button" class="btn">Basic Attack</button></td>
                <td>0 Mana</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary">@Model.Player1.AbilityList[0].Name</button></td>
                <td>@Model.Player1.AbilityList[0].ManaCost Mana</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-success">@Model.Player1.AbilityList[1].Name</button></td>
                <td>@Model.Player1.AbilityList[1].ManaCost Mana</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-info">@Model.Player1.AbilityList[2].Name</button></td>
                <td>@Model.Player1.AbilityList[2].ManaCost Mana</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-danger">@Model.Player1.AbilityList[3].Name</button></td>
                <td>@Model.Player1.AbilityList[3].ManaCost Mana</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <td><button type="button" class="btn">Basic Attack</button></td>
                <td>0 Mana</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-primary">@Model.Player1.AbilityList[0].Name</button></td>
                <td>@Model.Player2.AbilityList[0].ManaCost Mana</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-success">@Model.Player1.AbilityList[1].Name</button></td>
                <td>@Model.Player2.AbilityList[1].ManaCost Mana</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-info">@Model.Player1.AbilityList[2].Name</button></td>
                <td>@Model.Player2.AbilityList[2].ManaCost Mana</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-danger">@Model.Player1.AbilityList[3].Name</button></td>
                <td>@Model.Player2.AbilityList[3].ManaCost Mana</td>
            </tr>
        </table>
    </div>
</div>
