@model CodeDayOne.Models.Game

@{
    ViewData["Title"] = "SelectPartyMember1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Confirm Initial Party</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <button onclick="location.href='@Url.Action("Index", "Home")'" type="button" class="btn btn-success">To The Fields of Justice</button>
        </div>
        <div class="col-md-6 text-left">
            <button onclick="location.href='@Url.Action("PartySelect", "Game")'" type="button" class="btn btn-danger">Reselect Party Members</button>
        </div>
    </div>
</div>

<hr />

<div>
    <div class="row">
        @for (var i = 0; i < Model.ChampionList.Count; i++)
        {
            <button type="button" value="@i" disabled>
                <img src="@Model.ChampionList[i].ImageSource" />
            </button>
        }
    </div>
</div>

<hr />

<!-- This row displays both champions' information in table form.
    Currently it defaults to the first two members of the list. -->
<div id="partyMemberStats">
    @Html.Partial("PartyMemberStats")
</div>

